body {
      display:flex;
      align-items:center;
      background: rgb(63,94,251);
      background: radial-gradient(circle, rgba(63,94,251,1) 1%, rgba(16,14,11,1) 100%);
      }
.Inputsection {
             color:white;
             font-size:30px;
             padding-bottom:10px;
             }
form {
     border-radius:;
     }
input {
      font-size:30px;
      padding-top:5px;
      }
h2{
   border-bottom:5px solid white;
   border-bottom-style:double;
   border-
   }
